<ion-view view-title="QUIZ MENU">
  <ion-content>
<div class="w3-row" style="height:100px">
  <div class="w3-col l7 s7  w3-center w3-yellow w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
<img src="img/html.png" style="margin-top:20px" height="50"></img>
  </div>
  <div class="w3-col l5 s5 w3-center w3-orange w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
<img src="img/css.png" style="margin-top:20px" height="50"></img>
</div>


<div class="w3-row" style="height:100px">
  <div class="w3-col l5 s5  w3-center w3-container w3-round-large w3-pale-red w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
<img src="img/js.png" style="margin-top:20px" height="50"></img>
</div>

  <div class="w3-col l7 s7 w3-center w3-center w3-container w3-round-large  w3-light-blue w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
<img src="img/php.png" style="margin-top:20px" height="50"></img>
  </div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l7 s7  w3-center w3-container w3-round-large w3-aqua w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('c_test')">
<img src="img/c_plus_plus.png" style="margin-top:20px" height="50"></img>
</div>

  <div class="w3-col l5 s5 w3-center w3-center w3-container w3-round-large w3-lime  w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('java_test')">
  <img src="img/java.png" style="margin-top:20px" height="50"></img>
</div>
</div>
  </ion-content>
</ion-view>
