<ion-view view-title="Css Test-2">
  <ion-content>
<div id="questions">

	<!--Question no 1 -->
	<div id="ques1">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q1.A ……… tag is used to specify that the browser is to fetch and use an external style sheet file</p></b>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
  	<div style="margin-top:40px"><b>sheet</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
  	  	<div style="margin-top:40px"><b> link</b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
  	  	<div style="margin-top:40px"><b>src</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
  	  	<div style="margin-top:40px"><b>None of the above</b></div>

  </div>
</div>
</div>
	<!--End no 1 -->


  <!--Question no 2-->
    <div id="ques2">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q2.Which of the style sheet is also known as Embedded Style Sheet?</p></b>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
    <div style="margin-top:40px"><b>Document Style Sheet</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
        <div style="margin-top:40px"><b>Inline Style Sheet</b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
        <div style="margin-top:40px"><b>External Style Sheet</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
        <div style="margin-top:40px"><b>None of the above</b></div>

  </div>
</div>
</div>
  <!--End no 2 -->

<!--Question no 3-->
    <div id="ques3">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q3.How many types of levels in style sheets?</b>

</p>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
    <div style="margin-top:40px"><b>One level</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
        <div style="margin-top:40px"><b>Two level</b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
        <div style="margin-top:40px"><b>Three level</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
        <div style="margin-top:40px"><b>Four level</b></div>

  </div>
</div>
</div>
  <!--End no 3 -->

<!--Question no 4-->
    <div id="ques4">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q4.CSS provided the basic styles such as</b>
</p>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
    <div style="margin-top:40px"><b>specifying font and font styles</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
        <div style="margin-top:40px"><b>setting margins</b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
        <div style="margin-top:40px"><b> applying colors</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
        <div style="margin-top:40px"><b>All of the above</b></div>

  </div>
</div>
</div>
  <!--End no 4 -->  

  <!--Question no 5-->
    <div id="ques5">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q5.To inserting a style sheet</b>
</p>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
    <div style="margin-top:40px"><b>External style sheet</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
        <div style="margin-top:40px"><b>Internal style sheet</b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
        <div style="margin-top:40px"><b>Inline style sheet</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
        <div style="margin-top:40px"><b>All of the above</b></div>

  </div>
</div>
</div>

  <!--End no 5 --> 

 <!--Question no 6-->
    <div id="ques6">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q6.A ……… tag is used to specify that the browser is to fetch and use an external style sheet file</b>

</p>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
    <div style="margin-top:40px"><b>sheet</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
        <div style="margin-top:40px"><b>link</b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
        <div style="margin-top:40px"><b>src</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
        <div style="margin-top:40px"><b>None of the above</b></div>

  </div>
</div>
</div>
  <!--End no 6 -->  


  <!--Question no 7-->
    <div id="ques7">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q7.An internal style sheet should be used when a single document has a</b>

</p>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
    <div style="margin-top:40px"><b>unique style</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
        <div style="margin-top:40px"><b>common style</b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
        <div style="margin-top:40px"><b>either (A) or (B)</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
        <div style="margin-top:40px"><b>None of the above</b></div>

  </div>
</div>
</div>
  <!--End no 7 -->


  <!--Question no 8-->
    <div id="ques8">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q8.A CSS declaration always ends with a ……………., and declaration groups are surrounded by ………………….</b>
</p>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
    <div style="margin-top:40px"><b>semicolon and curly brackets</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
        <div style="margin-top:40px"><b>semicolon and square brackets</b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
        <div style="margin-top:40px"><b>either (A) or (B)</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
        <div style="margin-top:40px"><b>neither (A) or nor (B)</b></div>

  </div>
</div>
</div>
  <!--End no 8 -->


  <!--Question no 9-->
    <div id="ques9">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q9.The Disadvantages of Cascading Style Sheets is</b>
</p>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
    <div style="margin-top:40px"><b>Low Performance</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
        <div style="margin-top:40px"><b>High Performance</b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
        <div style="margin-top:40px"><b>Browsers Compatibility</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
        <div style="margin-top:40px"><b>All of the above</b></div>

  </div>
</div>
</div>
  <!--End no 9 -->


  <!--Question no 10-->
    <div id="ques10">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q10.Which is the superior styles of html?</b>

</p>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
    <div style="margin-top:40px"><b>css</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
        <div style="margin-top:40px"><b>frame</b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
        <div style="margin-top:40px"><b>iframe</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
        <div style="margin-top:40px"><b>None of the above</b></div>

  </div>
</div>
</div>
  <!--End no 10 --> 

</div>

<br />
<div class="w3-row">
  <div class="w3-col l6 s6">
  	<a class="w3-btn-floating-large w3-green w3-right"><span class="w3-medium">Lock</span></a>
  </div>
 <div class="w3-col l6 s6">
  	<a class="w3-btn-floating-large w3-red w3-left"><span class="w3-medium">Skip</span></a>
  </div>
</div>


  </ion-content>
  <ion-footer-bar align-title="left" class="bar-stable ">
  <div class="buttons">
    <button class="button">Timer</button>
  </div>
  <h1 class="title">Title!</h1>
  <div class="buttons" ng-click="doSomething()">
    <button class="button">Right Button</button>
  </div>
</ion-footer-bar>

</ion-view>

