<ion-view view-title="Java Test-1">
  <ion-content>
<div id="questions">

	<!--Question no 1 -->
	<div id="ques1">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q1.Which is a reserved word in the Java programming language?</p></b>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
  	<div style="margin-top:40px"><b>method</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
  	  	<div style="margin-top:40px"><b>native</b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
  	  	<div style="margin-top:40px"><b>subclasses</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
  	  	<div style="margin-top:40px"><b>reference</b></div>

  </div>
</div>
</div>
	<!--End no 1 -->


  <!--Question no 2-->
    <div id="ques2">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q2.The old name of Java was ?</p></b>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
    <div style="margin-top:40px"><b>J language</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
        <div style="margin-top:40px"><b>oak</b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
        <div style="margin-top:40px"><b>oct</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
        <div style="margin-top:40px"><b>None of above //</b></div>

  </div>
</div>
</div>
  <!--End no 2 -->

<!--Question no 3-->
    <div id="ques3">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q3.Java was first developed in ?</b>

</p>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
    <div style="margin-top:40px"><b>1990</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
        <div style="margin-top:40px"><b>1993</b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
        <div style="margin-top:40px"><b>1991</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
        <div style="margin-top:40px"><b>1996</b></div>

  </div>
</div>
</div>
  <!--End no 3 -->

<!--Question no 4-->
    <div id="ques4">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q4.Which of the following feature is not supported by java ?</b>
</p>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
    <div style="margin-top:40px"><b>Multithreading</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
        <div style="margin-top:40px"><b>Reflection</b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
        <div style="margin-top:40px"><b> Operator Overloading</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
        <div style="margin-top:40px"><b>Garbage Collection</b></div>

  </div>
</div>
</div>
  <!--End no 4 -->  

  <!--Question no 5-->
    <div id="ques5">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q5.Which of the following is not keyword in java ?</b>
</p>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
    <div style="margin-top:40px"><b>null</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
        <div style="margin-top:40px"><b>import</b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
        <div style="margin-top:40px"><b>volatile</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
        <div style="margin-top:40px"><b>package</b></div>

  </div>
</div>
</div>

  <!--End no 5 --> 

 <!--Question no 6-->
    <div id="ques6">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q6.What is the full form of JDK ?</b>

</p>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
    <div style="margin-top:40px"><b>Java Data Kit</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
        <div style="margin-top:40px"><b>Java Defination Kit</b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
        <div style="margin-top:40px"><b>Java Development Kit</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
        <div style="margin-top:40px"><b>Java Design Kit</b></div>

  </div>
</div>
</div>
  <!--End no 6 -->  


  <!--Question no 7-->
    <div id="ques7">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q7.Which command is used to compile a java program ?</b>

</p>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
    <div style="margin-top:40px"><b>javac</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
        <div style="margin-top:40px"><b>java</b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
        <div style="margin-top:40px"><b>javad</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
        <div style="margin-top:40px"><b>.javadoc</b></div>

  </div>
</div>
</div>
  <!--End no 7 -->


  <!--Question no 8-->
    <div id="ques8">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q8.What is the full form of JVM</b>
</p>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
    <div style="margin-top:40px"><b>Java Virtual Machine</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
        <div style="margin-top:40px"><b>Java Variable Machine</b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
        <div style="margin-top:40px"><b>Java Virtual Mechanism</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
        <div style="margin-top:40px"><b>Java Variable Mechanism</b></div>

  </div>
</div>
</div>
  <!--End no 8 -->


  <!--Question no 9-->
    <div id="ques9">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q9. Which of the following is generated when the source code is successfully compiled?</b>
</p>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
    <div style="margin-top:40px"><b>Output</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
        <div style="margin-top:40px"><b>Bytecode</b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
        <div style="margin-top:40px"><b>Error</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
        <div style="margin-top:40px"><b>None of above</b></div>

  </div>
</div>
</div>
  <!--End no 9 -->


  <!--Question no 10-->
    <div id="ques10">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q10.The extension name of a Java source code file is ?</b>

</p>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
    <div style="margin-top:40px"><b>.java</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
        <div style="margin-top:40px"><b>.obj</b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
        <div style="margin-top:40px"><b>.class</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
        <div style="margin-top:40px"><b>.exe</b></div>

  </div>
</div>
</div>
  <!--End no 10 --> 

</div>

<br />
<div class="w3-row">
  <div class="w3-col l6 s6">
  	<a class="w3-btn-floating-large w3-green w3-right"><span class="w3-medium">Lock</span></a>
  </div>
 <div class="w3-col l6 s6">
  	<a class="w3-btn-floating-large w3-red w3-left"><span class="w3-medium">Skip</span></a>
  </div>
</div>


  </ion-content>
  <ion-footer-bar align-title="left" class="bar-stable ">
  <div class="buttons">
    <button class="button">Timer</button>
  </div>
  <h1 class="title">Title!</h1>
  <div class="buttons" ng-click="doSomething()">
    <button class="button">Right Button</button>
  </div>
</ion-footer-bar>

</ion-view>

