<ion-view view-title="JS Test-2">
  <ion-content>
<div id="questions">

	<!--Question no 1 -->
	<div id="ques1">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q1.Javascript is _________ language.</p></b>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
  	<div style="margin-top:40px"><b>Scripting</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
  	  	<div style="margin-top:40px"><b>Application</b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
  	  	<div style="margin-top:40px"><b>Programming</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
  	  	<div style="margin-top:40px"><b>None of the above</b></div>

  </div>
</div>
</div>
	<!--End no 1 -->


  <!--Question no 2-->
    <div id="ques2">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q2.JavaScript is ______ Side Scripting Language.</p></b>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
    <div style="margin-top:40px"><b>Browser</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
        <div style="margin-top:40px"><b>ISP</b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
        <div style="margin-top:40px"><b>Server</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
        <div style="margin-top:40px"><b>None of the above</b></div>

  </div>
</div>
</div>
  <!--End no 2 -->

<!--Question no 3-->
    <div id="ques3">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q3.JavaScript is designed for following purpose -</b>

</p>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
    <div style="margin-top:40px"><b>To Execute Query Related to DB on Server</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
        <div style="margin-top:40px"><b>To Perform Server Side Scripting Opertion</b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
        <div style="margin-top:40px"><b>To Style HTML Page</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
        <div style="margin-top:40px"><b>To add interactivity to HTML Pages</b></div>

  </div>
</div>
</div>
  <!--End no 3 -->

<!--Question no 4-->
    <div id="ques4">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q4.What should appear at the very end of your JavaScript?</b>
</p>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
    <div style="margin-top:40px"><b>The /script tag</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
        <div style="margin-top:40px"><b> The script tag</b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
        <div style="margin-top:40px"><b> The END statement</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
        <div style="margin-top:40px"><b> None of the above</b></div>

  </div>
</div>
</div>
  <!--End no 4 -->  

  <!--Question no 5-->
    <div id="ques5">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q5.______ tag is an extension to HTML that can enclose any number of JavaScript statements.</b>
</p>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
    <div style="margin-top:40px"><b>SCRIPT</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
        <div style="margin-top:40px"><b>BODY</b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
        <div style="margin-top:40px"><b>HEAD</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
        <div style="margin-top:40px"><b>TITLE</b></div>

  </div>
</div>
</div>

  <!--End no 5 --> 

 <!--Question no 6-->
    <div id="ques6">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q6.What is the correct JavaScript syntax to write "Hello World"?</b>

</p>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
    <div style="margin-top:40px"><b>System.out.println("Hello World")</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
        <div style="margin-top:40px"><b> println ("Hello World")</b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
        <div style="margin-top:40px"><b> document.write("Hello World")</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
        <div style="margin-top:40px"><b> response.write("Hello World")</b></div>

  </div>
</div>
</div>
  <!--End no 6 -->  


  <!--Question no 7-->
    <div id="ques7">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q7.JavaScript is invented by ________.</b>

</p>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
    <div style="margin-top:40px"><b>Helsinki, Linus</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
        <div style="margin-top:40px"><b>Brendan Eich</b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
        <div style="margin-top:40px"><b>James Gosling</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
        <div style="margin-top:40px"><b>W3 Group</b></div>

  </div>
</div>
</div>
  <!--End no 7 -->


  <!--Question no 8-->
    <div id="ques8">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q8.JavaScript Statements are executed by ________ .</b>
</p>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
    <div style="margin-top:40px"><b>Server</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
        <div style="margin-top:40px"><b>browser</b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
        <div style="margin-top:40px"><b>JVM</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
        <div style="margin-top:40px"><b>Compiler</b></div>

  </div>
</div>
</div>
  <!--End no 8 -->


  <!--Question no 9-->
    <div id="ques9">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q9.JavaScript code contain sequence of ___________.</b>
</p>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
    <div style="margin-top:40px"><b>HTML Tags</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
        <div style="margin-top:40px"><b>Method Calls</b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
        <div style="margin-top:40px"><b>Executable Statements</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
        <div style="margin-top:40px"><b>All of the above</b></div>

  </div>
</div>
</div>
  <!--End no 9 -->


  <!--Question no 10-->
    <div id="ques10">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q10.Which of the following statement is used to declare variable in JavaScript ?</b>

</p>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
    <div style="margin-top:40px"><b>Assignment Statement</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
        <div style="margin-top:40px"><b>Conditional Statement</b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
        <div style="margin-top:40px"><b>Declaration Statement</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
        <div style="margin-top:40px"><b>Executable Statement</b></div>

  </div>
</div>
</div>
  <!--End no 10 --> 

</div>

<br />
<div class="w3-row">
  <div class="w3-col l6 s6">
  	<a class="w3-btn-floating-large w3-green w3-right"><span class="w3-medium">Lock</span></a>
  </div>
 <div class="w3-col l6 s6">
  	<a class="w3-btn-floating-large w3-red w3-left"><span class="w3-medium">Skip</span></a>
  </div>
</div>


  </ion-content>
  <ion-footer-bar align-title="left" class="bar-stable ">
  <div class="buttons">
    <button class="button">Timer</button>
  </div>
  <h1 class="title">Title!</h1>
  <div class="buttons" ng-click="doSomething()">
    <button class="button">Right Button</button>
  </div>
</ion-footer-bar>

</ion-view>

