<ion-view view-title="PHP Test-2">
  <ion-content>
<div id="questions">

  <!--Question no 1 -->
  <div id="ques1">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q1.Variables always start with a ........ in PHP</p></b>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
    <div style="margin-top:40px"><b>Pond-sign</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
        <div style="margin-top:40px"><b>Yen-sign</b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
        <div style="margin-top:40px"><b> Dollar-sign</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
        <div style="margin-top:40px"><b> Euro-sign</b></div>

  </div>
</div>
</div>
  <!--End no 1 -->


  <!--Question no 2-->
    <div id="ques2">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q2.What is the best all-purpose way of comparing two strings?</p></b>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
    <div style="margin-top:40px"><b>Using the strpos function</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
        <div style="margin-top:40px"><b> Using the == operator</b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
        <div style="margin-top:40px"><b>Using strcasecmp()</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
        <div style="margin-top:40px"><b> Using strcmp()</b></div>

  </div>
</div>
</div>
  <!--End no 2 -->

<!--Question no 3-->
    <div id="ques3">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q3.The ___________ function can be used to compare two strings using a case-insensitive binary algorithm</b>

</p>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
    <div style="margin-top:40px"><b>strcmp()</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
        <div style="margin-top:40px"><b>stricmp()</b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
        <div style="margin-top:40px"><b>strcasecmp()</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
        <div style="margin-top:40px"><b>stristr()</b></div>

  </div>
</div>
</div>
  <!--End no 3 -->

<!--Question no 4-->
    <div id="ques4">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q4.Which array function checks if the specified key exists in the array?</b>
</p>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
    <div style="margin-top:40px"><b>array_key_exist()</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
        <div style="margin-top:40px"><b> array_key_exists()</b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
        <div style="margin-top:40px"><b>array_keys_exists()</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
        <div style="margin-top:40px"><b>arrays_key_exists()</b></div>

  </div>
</div>
</div>
  <!--End no 4 -->  

  <!--Question no 5-->
    <div id="ques5">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q5.Assume you would like to sort an array in ascending order by value while preserving key associations. Which of the following PHP sorting functions would you use?</b>
</p>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
    <div style="margin-top:40px"><b>ksort()</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
        <div style="margin-top:40px"><b> asort()</b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
        <div style="margin-top:40px"><b>krsort()</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
        <div style="margin-top:40px"><b>usort()</b></div>

  </div>
</div>
</div>
  <!--End no 5 --> 

 <!--Question no 6-->
    <div id="ques6">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q6.What function computes the difference of arrays?</b>

</p>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
    <div style="margin-top:40px"><b> array_diff</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
        <div style="margin-top:40px"><b> diff_array </b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
        <div style="margin-top:40px"><b>arrays_diff</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
        <div style="margin-top:40px"><b> diff_arrays</b></div>

  </div>
</div>
</div>
  <!--End no 6 -->  


  <!--Question no 7-->
    <div id="ques7">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q7.What functions count elements in an array?</b>

</p>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
    <div style="margin-top:40px"><b>count</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
        <div style="margin-top:40px"><b>Array_Count</b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
        <div style="margin-top:40px"><b>array_count</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
        <div style="margin-top:40px"><b>Count_array</b></div>

  </div>
</div>
</div>
  <!--End no 7 -->


  <!--Question no 8-->
    <div id="ques8">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q8.................Checks a date for numeric validity.</b>
</p>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
    <div style="margin-top:40px"><b>check_date</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
        <div style="margin-top:40px"><b> verifydate</b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
        <div style="margin-top:40px"><b>Verify_date</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
        <div style="margin-top:40px"><b>checkdate</b></div>

  </div>
</div>
</div>
  <!--End no 8 -->


  <!--Question no 9-->
    <div id="ques9">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q9.PHP sessions are created using the . . . . . function.</b>
</p>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
    <div style="margin-top:40px"><b>session_starts()</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
        <div style="margin-top:40px"><b>sessions_start()</b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
        <div style="margin-top:40px"><b>session_start()</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
        <div style="margin-top:40px"><b>none of above</b></div>

  </div>
</div>
</div>
  <!--End no 9 -->


  <!--Question no 10-->
    <div id="ques10">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q10.Sessions allow you to  </b>

</p>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
    <div style="margin-top:40px"><b> store persistent user preference on a site</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
        <div style="margin-top:40px"><b>save user authentication information from page to page</b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
        <div style="margin-top:40px"><b>create multipage forms</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
        <div style="margin-top:40px"><b>all of above</b></div>

  </div>
</div>
</div>
  <!--End no 10 --> 

</div>

<br />
<div class="w3-row">
  <div class="w3-col l6 s6">
    <a class="w3-btn-floating-large w3-green w3-right"><span class="w3-medium">Lock</span></a>
  </div>
 <div class="w3-col l6 s6">
    <a class="w3-btn-floating-large w3-red w3-left"><span class="w3-medium">Skip</span></a>
  </div>
</div>


  </ion-content>
  <ion-footer-bar align-title="left" class="bar-stable ">
  <div class="buttons">
    <button class="button">Timer</button>
  </div>
  <h1 class="title">Title!</h1>
  <div class="buttons" ng-click="doSomething()">
    <button class="button">Right Button</button>
  </div>
</ion-footer-bar>

</ion-view>

