<ion-view view-title="PHP Test-1">
  <ion-content>
<div id="questions">

	<!--Question no 1 -->
	<div id="ques1">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q1.What does PHP stand for?</p></b>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
  	<div style="margin-top:40px"><b>Personal Home Page</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
  	  	<div style="margin-top:40px"><b>Hypertext Preprocessor</b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
  	  	<div style="margin-top:40px"><b>Pretext Hypertext Processor</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
  	  	<div style="margin-top:40px"><b>Preprocessor Home Page</b></div>

  </div>
</div>
</div>
	<!--End no 1 -->


  <!--Question no 2-->
    <div id="ques2">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q2.PHP files have a default file extension of..</p></b>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
    <div style="margin-top:40px"><b>.html</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
        <div style="margin-top:40px"><b>.xml</b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
        <div style="margin-top:40px"><b>.php</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
        <div style="margin-top:40px"><b>.ph</b></div>

  </div>
</div>
</div>
  <!--End no 2 -->

<!--Question no 3-->
    <div id="ques3">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q3.Which of the following is/are a PHP code editor?</b>

</p>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
    <div style="margin-top:40px"><b>Notepad</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
        <div style="margin-top:40px"><b>Notepad++</b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
        <div style="margin-top:40px"><b>Adobe Dreamweaver</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
        <div style="margin-top:40px"><b>All of the mentioned.</b></div>

  </div>
</div>
</div>
  <!--End no 3 -->

<!--Question no 4-->
    <div id="ques4">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q4.Which of the following PHP statements will output Hello World on the screen?</b>
</p>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
    <div style="margin-top:40px"><b>echo (“Hello World”);</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
        <div style="margin-top:40px"><b>display (“Hello World”);</b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
        <div style="margin-top:40px"><b>show (“Hello World”);</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
        <div style="margin-top:40px"><b>None of the above</b></div>

  </div>
</div>
</div>
  <!--End no 4 -->  

  <!--Question no 5-->
    <div id="ques5">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q5.Which of the following term originates from the Greek language that means “having multiple forms,” defines OOP’s ability to redefine, a class’s characteristics?</b>
</p>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
    <div style="margin-top:40px"><b> Abstraction</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
        <div style="margin-top:40px"><b> Polymorphism</b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
        <div style="margin-top:40px"><b> Inheritance</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
        <div style="margin-top:40px"><b>Differential</b></div>

  </div>
</div>
</div>

  <!--End no 5 --> 

 <!--Question no 6-->
    <div id="ques6">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q6.Which one of the following property scopes is not supported by PHP?</b>

</p>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
    <div style="margin-top:40px"><b>friendly</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
        <div style="margin-top:40px"><b> final</b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
        <div style="margin-top:40px"><b>public</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
        <div style="margin-top:40px"><b>static</b></div>

  </div>
</div>
</div>
  <!--End no 6 -->  


  <!--Question no 7-->
    <div id="ques7">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q7.Which version of PHP introduced the instanceof keyword?</b>

</p>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
    <div style="margin-top:40px"><b>PHP 4</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
        <div style="margin-top:40px"><b>PHP 5</b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
        <div style="margin-top:40px"><b>PHP 5.3</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
        <div style="margin-top:40px"><b>PHP 6</b></div>

  </div>
</div>
</div>
  <!--End no 7 -->


  <!--Question no 8-->
    <div id="ques8">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q8.Which one of the following functions is used to determine whether a class exists?</b>
</p>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
    <div style="margin-top:40px"><b>exist()</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
        <div style="margin-top:40px"><b>exist_class()</b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
        <div style="margin-top:40px"><b>class_exist()</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
        <div style="margin-top:40px"><b>__exist()</b></div>

  </div>
</div>
</div>
  <!--End no 8 -->


  <!--Question no 9-->
    <div id="ques9">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q9.Which version of PHP was added with Exception handling?</b>
</p>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
    <div style="margin-top:40px"><b> PHP 4</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
        <div style="margin-top:40px"><b>PHP 5</b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
        <div style="margin-top:40px"><b>PHP 5.3</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
        <div style="margin-top:40px"><b>PHP 6</b></div>

  </div>
</div>
</div>
  <!--End no 9 -->


  <!--Question no 10-->
    <div id="ques10">
<div class="w3-container w3-section w3-light-grey w3-leftbar w3-rightbar w3-border-grey w3-center">
  <p class="w3-padding"><b>Q10.Which of the following statements invoke the exception class?</b>

</p>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-sand w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('html_test')">
    <div style="margin-top:40px"><b> throws new Exception();</b></div>

  </div>
  <div class="w3-col l6 s6 w3-center w3-sand w3-center w3-container w3-round-large w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('css_test')">
        <div style="margin-top:40px"><b>throw new Exception();</b></div>

</div>
</div>

<div class="w3-row" style="height:100px">
  <div class="w3-col l6 s6  w3-center w3-container w3-round-large w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-left" style="height:100%" ng-click="go('js_test')">
        <div style="margin-top:40px"><b> new Exception();</b></div>

</div>

  <div class="w3-col l6 s6 w3-center w3-center w3-container w3-round-large  w3-sand w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-animate-right" style="height:100%" ng-click="go('php_test')">
        <div style="margin-top:40px"><b>new throws Exception();</b></div>

  </div>
</div>
</div>
  <!--End no 10 --> 

</div>

<br />
<div class="w3-row">
  <div class="w3-col l6 s6">
  	<a class="w3-btn-floating-large w3-green w3-right"><span class="w3-medium">Lock</span></a>
  </div>
 <div class="w3-col l6 s6">
  	<a class="w3-btn-floating-large w3-red w3-left"><span class="w3-medium">Skip</span></a>
  </div>
</div>


  </ion-content>
  <ion-footer-bar align-title="left" class="bar-stable ">
  <div class="buttons">
    <button class="button">Timer</button>
  </div>
  <h1 class="title">Title!</h1>
  <div class="buttons" ng-click="doSomething()">
    <button class="button">Right Button</button>
  </div>
</ion-footer-bar>

</ion-view>

